[submodule "external/madrona"]
	path = external/madrona
	url = https://github.com/shacklettbp/madrona.git
[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "external/libxml2"]
	path = external/libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
